* {
    margin: 0;
    border: 0; 
    box-sizing: border-box;
}

/* THE IP INPUT */

#ip {
    margin-bottom: 1rem;
  }

.ip-inputs {
    width: 100%;
    height: 250px;
    background-image: url(../images/pattern-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* THE ARROW BUTTON */

.buttonIn {
    width: 400px;
    position: relative;
    cursor: pointer;
  }
  
  .icon {
    position: absolute;
    right: 0%;
    height: 50px;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    cursor: pointer;
  }